<div class="main--header">
  <div class="main--header__left">
    <h3 class="title">画像で一言</h3>
  </div>
  <div class="main--header__right">
    <%= link_to "作る" , new_title_path ,class:"header-links"%>
  </div>
</div>
<div class="home--main">
  <div class="side--bar">
    <div class="side--bar__top">
      <p class="recomend-title">人気のタイトル</p>
    </div>
    <div class="side--bar__main">
      人気の奴が入るよ
    </div>
  </div>
  <div class="select--field">
    <ul>
      <li>第１問</li>
      <li>第２問</li>
      <li>第３問</li>
      <li>第４問</li>
    </ul>
  </div>
</div>